/* #root {
  /* margin: 0 auto;
  padding: 2rem;
  text-align: center; 
  max-width: 975px; 
} */

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: "Urbanist", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1.25rem;
}

h2 {
  font-family: Abril Fatfaces;
  font-size: 1rem;
}

h3 {
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1.25rem;
}
h4 {
  font-family: "Urbanist", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1rem;
}

p {
  /* font-family: Abril Fatfaces; */
  font-family: "Work Sans", serif;
  font-weight: 300;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1rem;
  padding-bottom: 1rem;
}
li {
  font-family: "Work Sans", serif;
  font-weight: 300;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1rem;
  list-style-type: circle;
}

#bg {
  background: radial-gradient(
      circle at 92.9345703125% 96.60481770833333%,
      #f3da8f 0%,
      20%,
      rgba(243, 167, 143, 0) 40%
    ),
    radial-gradient(
      circle at 4.591471354166667% 100%,
      rgb(220 250 0 / 45%) 0%,
      25%,
      rgba(181, 181, 181, 0) 50%
    ),
    radial-gradient(
      circle at 6.1865234375% 12.975260416666668%,
      #f0f0f0 0%,
      42%,
      rgba(240, 240, 240, 0) 70%
    ),
    radial-gradient(
      circle at 91.55110677083333% 11.93359375%,
      rgb(218 129 34 / 35%) 0%,
      42%,
      rgba(128, 21, 232, 0) 70%
    ),
    radial-gradient(
      circle at 48.9013671875% 49.521484375%,
      #ffffff 0%,
      100%,
      rgba(255, 255, 255, 0) 100%
    );
}

.logo {
  height: 3em;
  padding-left: 1.5em;
  padding-right: 1.5em;

  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.carousel {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  overflow: hidden;
}

.carousel-container {
  /* height: 290px; */
  display: flex;
  width: 100%;
  /* background-color: #ffe598; */
}

.slow {
  padding-top: 3em;
  padding-bottom: 3em;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.directions {
  display: flex;
  height: 100%;
  width: 30px;
  justify-content: center;
  align-items: center;
}
.directions:hover {
  scale: 1.2;
  svg {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
}

.logos {
  display: flex;
}

.triangles #t1 {
  transition: all 1s cubic-bezier(0.37, 0.49, 0.58, 1.01);
}
.triangles #t2 {
  transform: translateX(-120px);
  transition: all 1s cubic-bezier(0.37, 0.49, 0.58, 1.01);
}
.triangles #t3 {
  transition: all 1s cubic-bezier(0.66, 0.15, 0.45, 1.06);
}
.triangles #t4 {
  transition: all 1s cubic-bezier(0.66, 0.15, 0.45, 1.06);
}

.triangles:hover #t1 {
  transform: translateX(27px);
}
.triangles:hover #t2 {
  transform: translateX(0px);
}
.triangles:hover #t3 {
  transform: translateX(120px);
}

.triangles:hover #t4 {
  transform: translateX(27px);
}

.circles #c1 {
  transition: all 1s ease;
}
.circles #c2 {
  transition: all 1s cubic-bezier(0.37, 0.49, 0.58, 1.01);
  fill: #af52de;
}
.circles #c3 {
  transform: translate(-28px, -28px);
  transition: all 1s ease;
}

.circles:hover #c1 {
  transform: translate(12px, 11px);
  scale: 3;
}
.circles:hover #c2 {
  transform: translate(2px, 3px) scale(1.5);
  fill: #30b0c7;
}
.circles:hover #c3 {
  transform: translate(12px, 12px);
  opacity: 0.5;
  scale: 3;
}

.squares #s1 {
  transition: all 1s ease;
}

.squares #s3 {
  transition: all 1s ease;
}

.squares:hover #s1 {
  transform: translate(0px, 70px);
}

.squares:hover #s3 {
  transform: translate(0px, -70px);
}

.work {
  padding-left: 1rem;
}
